body {
    font-family: Arial;
    text-align: center;
}

input {
    padding: 8px;
}

button {
    padding: 8px;
}

li {
    list-style: none;
    margin: 5px;
}
li {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 5px auto;
}

button {
    cursor: pointer;
}
.completed {
    text-decoration: line-through;
    color: gray;
}